<h1 class="text-center">Daily Sales - Monthly</h1>

<div class="w300 m-5"><input class="form-control" id="myInput" type="text" placeholder="Filter Table"></div>
<div class="m-5">
<table class="table table-striped">
  <caption class="caption-top">Display Limit: 250</caption>
  <thead>
    <tr class="bg-secondary bg-gradient text-light">
      <th>ID</th>
      <th>Day</th>
      <th>Year</th>
      <th>Month</th>
      <th>Day of week</th>
      <th>Sales</th>
      <th>CPA</th>
      <th>New</th>
      <th>Renewal</th>
      <th>EA</th>
      <th>New</th>
      <th>Renewal</th>
      <th>Ethics</th>
      <th>AFSP</th>
      <th>Other</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody id="myTable">
    <% @daily_sales.where('day <= ?', Date.today).order(day: :desc).limit(250).each do |daily_sale| %>
      <tr>
        <td><%= daily_sale.id %></td>
        <td><%= daily_sale.day %></td>
        <td><%= daily_sale.year %></td>
        <td><%= daily_sale.month %></td>
        <td><%= daily_sale.day_of_week %></td>
        <td class="fw-bold"><%= number_to_currency(daily_sale.sales/100, precision: 0) %></td>
        <td class="fw-bold"><%= daily_sale.cpa_full_price + daily_sale.cpa_renewal_price %></td>
        <td><%= daily_sale.cpa_full_price %></td>
        <td><%= daily_sale.cpa_renewal_price %></td>
        <td class="fw-bold"><%= daily_sale.ea_full_price + daily_sale.ea_renewal_price %></td>
        <td><%= daily_sale.ea_full_price %></td>
        <td><%= daily_sale.ea_renewal_price %></td>
        <td><%= daily_sale.ethics %></td>
        <td><%= daily_sale.afsp %></td>
        <td><%= daily_sale.other %></td>
        <!-- <td><%= link_to 'Show', daily_sale %></td> -->
        <td><%= link_to 'Edit', edit_daily_sale_path(daily_sale) %></td>
        <!-- <td><%= link_to 'Destroy', daily_sale, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>
