<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @daily_sale.day %>
</p>

<p>
  <strong>Year:</strong>
  <%= @daily_sale.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @daily_sale.month %>
</p>

<p>
  <strong>Day of week:</strong>
  <%= @daily_sale.day_of_week %>
</p>

<p>
  <strong>Sales:</strong>
  <%= @daily_sale.sales %>
</p>

<p>
  <strong>Cpa full price:</strong>
  <%= @daily_sale.cpa_full_price %>
</p>

<p>
  <strong>Cpa renewal price:</strong>
  <%= @daily_sale.cpa_renewal_price %>
</p>

<p>
  <strong>Ea full price:</strong>
  <%= @daily_sale.ea_full_price %>
</p>

<p>
  <strong>Ea renewal price:</strong>
  <%= @daily_sale.ea_renewal_price %>
</p>

<p>
  <strong>Ethics:</strong>
  <%= @daily_sale.ethics %>
</p>

<p>
  <strong>Afsp:</strong>
  <%= @daily_sale.afsp %>
</p>

<p>
  <strong>Other:</strong>
  <%= @daily_sale.other %>
</p>

<%= link_to 'Edit', edit_daily_sale_path(@daily_sale) %> |
<%= link_to 'Back', daily_sales_path %>
