<p id="notice"><%= notice %></p>

<h1 class="text-center">All Purchases</h1>
<h3 class="text-center"><%= @daily_sale.day.strftime('%A, %B %e, %Y') %></h3>
<div class="m-5">
<table class="table table-striped">
  <thead>
    <tr class="bg-secondary bg-gradient text-light">
      <th>Order ID</th>
      <th>UID</th>
      <th>Lic St</th>
      <th>Price</th>
      <th>Product 1</th>
      <th>Product 2</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% SequoiaCustomer.where(purchase: @daily_sale.day).order(price: :desc).all.each do |i| %>
      <tr>
        <td><a target="_blank" href="https://www.sequoiacpe.com/admin/store/orders/<%= i.order_id %>"><%= i.order_id %></a></td>
        <td><a target="_blank" href="https://www.sequoiacpe.com/admin/user-profile?u=<%= i.uid %>"><%= i.uid %></a></td>
        <td><%= i.lic_state %></td>
        <td><%= i.price.present? ? number_to_currency(i.price / 100 ) : ''%></td>
        <td><%= i.product_1 %></td>
        <td><%= i.product_2 %></td>
        <td><%= i.email %></td>
        <td><%= link_to 'View/Edit', sequoia_customer_path(i.id)%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>



<%= link_to 'Edit', edit_daily_sale_path(@daily_sale) %> |
<%= link_to 'Back', daily_sales_path %>
