<p id="notice"><%= notice %></p>

<p>
  <strong>St:</strong>
  <%= @empire_master_nc_match.st %>
</p>

<p>
  <strong>Lid:</strong>
  <%= @empire_master_nc_match.lid %>
</p>

<p>
  <strong>List:</strong>
  <%= @empire_master_nc_match.list %>
</p>

<p>
  <strong>Exp:</strong>
  <%= @empire_master_nc_match.exp %>
</p>

<p>
  <strong>Lic:</strong>
  <%= @empire_master_nc_match.lic %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @empire_master_nc_match.uid %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @empire_master_nc_match.lname %>
</p>

<p>
  <strong>Search date:</strong>
  <%= @empire_master_nc_match.search_date %>
</p>

<%= link_to 'Edit', edit_empire_master_nc_match_path(@empire_master_nc_match) %> |
<%= link_to 'Back', empire_master_nc_matches_path %>
