<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @sequoia_member_exp.uid %>
</p>

<p>
  <strong>Membership:</strong>
  <%= @sequoia_member_exp.membership %>
</p>

<p>
  <strong>Last membership:</strong>
  <%= @sequoia_member_exp.last_membership %>
</p>

<p>
  <strong>Membership exp:</strong>
  <%= @sequoia_member_exp.membership_exp %>
</p>

<%= link_to 'Edit', edit_sequoia_member_exp_path(@sequoia_member_exp) %> |
<%= link_to 'Back', sequoia_member_exps_path %>
