<p id="notice"><%= notice %></p>

<% master_list = MasterEa.find_by(lid: @master_ea_no_mail.lid) %>

<p>
  <strong>Lid:</strong>
  <%= @master_ea_no_mail.lid %>
</p>

<p>
  <strong>List:</strong>
  <%= @master_ea_no_mail.list %>
</p>

<p>
  <strong>Fname:</strong>
  <%= master_list.fname %>
</p>
<p>
  <strong>Lname:</strong>
  <%= @master_ea_no_mail.lname %>
</p>

<p>
  <strong>Lic:</strong>
  <%= master_list.lic %>
</p>
<p>
  <strong>Fname:</strong>
  <%= master_list.fname %>
</p>
<p>
  <strong>Middle:</strong>
  <%= master_list.mi %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @master_ea_no_mail.lname %>
</p>

<p>
  <strong>Suf:</strong>
  <%= master_list.suf %>
</p>
<p>
  <strong>Co:</strong>
  <%= master_list.co %>
</p>
<p>
  <strong>Add:</strong>
  <%= master_list.add %>
</p>
<p>
  <strong>Add2:</strong>
  <%= master_list.add2 %>
</p>
<p>
  <strong>City:</strong>
  <%= master_list.city %>
</p>
<p>
  <strong>State:</strong>
  <%= master_list.st %>
</p>
<p>
  <strong>Zip:</strong>
  <%= master_list.zip %>
</p>

<p>
  <strong>Search date:</strong>
  <%= @master_ea_no_mail.search_date %>
</p>

<%= link_to 'Edit', edit_master_ea_no_mail_path(@master_ea_no_mail) %> |
<%= link_to 'Back', master_ea_no_mails_path %>
