<p id="notice"><%= notice %></p>

<p>
  <strong>Lid:</strong>
  <%= @master_cpa_double_account.lid %>
</p>

<p>
  <strong>List:</strong>
  <%= @master_cpa_double_account.list %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @master_cpa_double_account.uid %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @master_cpa_double_account.lname %>
</p>

<p>
  <strong>Search date:</strong>
  <%= @master_cpa_double_account.search_date %>
</p>

<%= link_to 'Edit', edit_master_cpa_double_account_path(@master_cpa_double_account) %> |
<%= link_to 'Back', master_cpa_double_accounts_path %>
