<p id="notice"><%= notice %></p>

<p>
  <strong>Lid:</strong>
  <%= @empire_master_va_list.lid %>
</p>

<p>
  <strong>List:</strong>
  <%= @empire_master_va_list.list %>
</p>

<p>
  <strong>Lic state:</strong>
  <%= @empire_master_va_list.lic_state %>
</p>

<p>
  <strong>Lic:</strong>
  <%= @empire_master_va_list.lic %>
</p>

<p>
  <strong>Record type:</strong>
  <%= @empire_master_va_list.record_type %>
</p>

<p>
  <strong>Lic status:</strong>
  <%= @empire_master_va_list.lic_status %>
</p>

<p>
  <strong>Iss date s:</strong>
  <%= @empire_master_va_list.iss_date_s %>
</p>

<p>
  <strong>Iss date:</strong>
  <%= @empire_master_va_list.iss_date %>
</p>

<p>
  <strong>Exp date s:</strong>
  <%= @empire_master_va_list.exp_date_s %>
</p>

<p>
  <strong>Exp date:</strong>
  <%= @empire_master_va_list.exp_date %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @empire_master_va_list.fname %>
</p>

<p>
  <strong>Mi:</strong>
  <%= @empire_master_va_list.mi %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @empire_master_va_list.lname %>
</p>

<p>
  <strong>Suf:</strong>
  <%= @empire_master_va_list.suf %>
</p>

<p>
  <strong>Co:</strong>
  <%= @empire_master_va_list.co %>
</p>

<p>
  <strong>Add:</strong>
  <%= @empire_master_va_list.add %>
</p>

<p>
  <strong>Add2:</strong>
  <%= @empire_master_va_list.add2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @empire_master_va_list.city %>
</p>

<p>
  <strong>St:</strong>
  <%= @empire_master_va_list.st %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @empire_master_va_list.zip %>
</p>

<p>
  <strong>Email:</strong>
  <%= @empire_master_va_list.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @empire_master_va_list.phone %>
</p>

<%= link_to 'Edit', edit_empire_master_va_list_path(@empire_master_va_list) %> |
<%= link_to 'Back', empire_master_va_lists_path %>
