<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @lic_fix_upload.uid %>
</p>

<p>
  <strong>Lic:</strong>
  <%= @lic_fix_upload.lic %>
</p>

<%= link_to 'Edit', edit_lic_fix_upload_path(@lic_fix_upload) %> |
<%= link_to 'Back', lic_fix_uploads_path %>
