<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @sequoia_state.state %>
</p>

<p>
  <strong>St:</strong>
  <%= @sequoia_state.st %>
</p>

<p>
  <strong>List:</strong>
  <%= @sequoia_state.list %>
</p>

<p>
  <strong>List quantity:</strong>
  <%= @sequoia_state.list_quantity %>
</p>

<p>
  <strong>Matched:</strong>
  <%= @sequoia_state.matched %>
</p>

<p>
  <strong>Market share:</strong>
  <%= @sequoia_state.market_share %>
</p>

<p>
  <strong>Ce cycle:</strong>
  <%= @sequoia_state.ce_cycle %>
</p>

<p>
  <strong>Hours per cycle:</strong>
  <%= @sequoia_state.hours_per_cycle %>
</p>

<p>
  <strong>Ce due:</strong>
  <%= @sequoia_state.ce_due %>
</p>

<p>
  <strong>Exp date:</strong>
  <%= @sequoia_state.exp_date %>
</p>

<p>
  <strong>Exp cycle:</strong>
  <%= @sequoia_state.exp_cycle %>
</p>

<p>
  <strong>Self study:</strong>
  <%= @sequoia_state.self_study %>
</p>

<p>
  <strong>Has year minimum:</strong>
  <%= @sequoia_state.has_year_minimum %>
</p>

<p>
  <strong>Year minimum:</strong>
  <%= @sequoia_state.year_minimum %>
</p>

<%= link_to 'Edit', edit_sequoia_state_path(@sequoia_state) %> |
<%= link_to 'Back', sequoia_states_path %>
