
<%= simple_form_for(@id_number_storage) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :sequoia_members_order_id %>
    <%= f.input :daily_sales_id %>
    <%= f.input :empire_daily_sales_id %>
    <%= f.input :sequoia_customer_s_id %>
    <%= f.input :daily_sales_sequoia_customer_order_id %>
    <%= f.input :sequoia_member_exps_order_id %>
    <%= f.input :empire_member_e_id %>
    <%= f.input :empire_auto_match_id %>
    <%= f.input :campaign_id, label: 'Campaign ID - MKTG Exports'%>
  </div>
<br>
  <div class="form-actions">
    <%= f.button :submit, 'Submit', class: 'btn btn-outline-primary w150' %>
  </div>
<br>
<% end %>
