
<%= simple_form_for(@id_number_storage) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :sequoia_members_order_id %>
    <%= f.input :daily_sales_id %>
    <%= f.input :daily_sales_sequoia_customer_order_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
