<p id="notice"><%= notice %></p>

<h1 class="text-center">Id Number Storages</h1>
<div class="m-5">
  <% id_number_storage = IdNumberStorage.find_by(id: 1) %>
  <p><strong>Sequoia Customer S ID:</strong> <%= id_number_storage.sequoia_customer_s_id %></p>
  <p><strong>Sequoia Members Order ID:</strong> <%= id_number_storage.sequoia_members_order_id %></p>
  <p><strong>Sequoia Member Exps Order Id:</strong> <%= id_number_storage.sequoia_member_exps_order_id %></p>
  <p><strong>Sequoia Daily Sales Id:</strong> <%= id_number_storage.daily_sales_id %></p>
  <p><strong>Empire Daily Sales Id:</strong> <%= id_number_storage.empire_daily_sales_id %></p>
  <p><strong>Empire Member E ID:</strong> <%= id_number_storage.empire_member_e_id %></p>
  <p><strong>Empire Auto Match ID:</strong> <%= id_number_storage.empire_auto_match_id %></p>
  <p><strong>Campaign ID:</strong> <%= id_number_storage.campaign_id %></p>
  <p><%= link_to 'Edit', edit_id_number_storage_path(id_number_storage), class: 'btn btn-outline-primary w100' %></p>
</div>
