<p id="notice"><%= notice %></p>

<p>
  <strong>Lid:</strong>
  <%= @empire_master_no_match.lid %>
</p>

<p>
  <strong>List:</strong>
  <%= @empire_master_no_match.list %>
</p>

<p>
  <strong>Lic st:</strong>
  <%= @empire_master_no_match.lic_st %>
</p>

<p>
  <strong>Search date:</strong>
  <%= @empire_master_no_match.search_date %>
</p>

<%= link_to 'Edit', edit_empire_master_no_match_path(@empire_master_no_match) %> |
<%= link_to 'Back', empire_master_no_matches_path %>
