<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @sequoia_ncoa.uid %>
</p>

<p>
  <strong>Ncoa list:</strong>
  <%= @sequoia_ncoa.ncoa_list %>
</p>

<p>
  <strong>Stree 1:</strong>
  <%= @sequoia_ncoa.stree_1 %>
</p>

<p>
  <strong>Street 2:</strong>
  <%= @sequoia_ncoa.street_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @sequoia_ncoa.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @sequoia_ncoa.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @sequoia_ncoa.zip %>
</p>

<p>
  <strong>Good:</strong>
  <%= @sequoia_ncoa.good %>
</p>

<p>
  <strong>Bad:</strong>
  <%= @sequoia_ncoa.bad %>
</p>

<%= link_to 'Edit', edit_sequoia_ncoa_path(@sequoia_ncoa) %> |
<%= link_to 'Back', sequoia_ncoas_path %>
