<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @courses_sequoium.number %>
</p>

<p>
  <strong>Version:</strong>
  <%= @courses_sequoium.version %>
</p>

<p>
  <strong>Title:</strong>
  <%= @courses_sequoium.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @courses_sequoium.category %>
</p>

<p>
  <strong>Sub category:</strong>
  <%= @courses_sequoium.sub_category %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @courses_sequoium.hours %>
</p>

<p>
  <strong>Pub date:</strong>
  <%= @courses_sequoium.pub_date %>
</p>

<p>
  <strong>Pes number:</strong>
  <%= @courses_sequoium.pes_number %>
</p>

<p>
  <strong>Pes version:</strong>
  <%= @courses_sequoium.pes_version %>
</p>

<p>
  <strong>Text:</strong>
  <%= @courses_sequoium.text %>
</p>

<p>
  <strong>Exam:</strong>
  <%= @courses_sequoium.exam %>
</p>

<p>
  <strong>Active:</strong>
  <%= @courses_sequoium.active %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @courses_sequoium.notes %>
</p>

<%= link_to 'Edit', edit_courses_sequoium_path(@courses_sequoium) %> |
<%= link_to 'Back', courses_sequoia_path %>
