<%= link_to 'Print', print_mktg_exports_path(), :onclick => 'window.print();return false;', class: 'btn btn-sm btn-success text-light m-2 w100 no_print'%>
<div class="mktg_print_page_top">
  <% count = 0 %>
  <% MktgExport.order(exp: :asc).order(uid: :asc).all.each do |i| %>
    <% count = count + 1 %>
    <p class="<% unless count == MktgExport.count %> mktg_print_padding <% end %> mktg_export_text"><%= i.fname.present? ? i.fname.titlecase : ""%> <%= i.lname.present? ? i.lname.titlecase : ''%><br> <%= i.street_1.present? ? i.street_1.titlecase : '' %> <%= i.street_2.present? && i.street_2 == 'XX' ? '' : i.street_2.present? ? i.street_2.titlecase : '' %> <br> <%= i.city.present? ? i.city.titlecase : ''%> <%= i.state.present? ? i.state.upcase : ''%> <%= i.zip %></p>
  <% end %>
</div>
