<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @mktg_export.uid %>
</p>

<p>
  <strong>Campaign:</strong>
  <%= @mktg_export.campaign %>
</p>

<p>
  <strong>Des:</strong>
  <%= @mktg_export.des %>
</p>

<p>
  <strong>Exp:</strong>
  <%= @mktg_export.exp %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @mktg_export.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @mktg_export.lname %>
</p>

<p>
  <strong>Street 1:</strong>
  <%= @mktg_export.street_1 %>
</p>

<p>
  <strong>Street 2:</strong>
  <%= @mktg_export.street_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @mktg_export.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @mktg_export.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @mktg_export.zip %>
</p>

<p>
  <strong>Text 1:</strong>
  <%= @mktg_export.text_1 %>
</p>

<p>
  <strong>Text 2:</strong>
  <%= @mktg_export.text_2 %>
</p>

<p>
  <strong>Text 3:</strong>
  <%= @mktg_export.text_3 %>
</p>

<p>
  <strong>Text 4:</strong>
  <%= @mktg_export.text_4 %>
</p>

<p>
  <strong>Text 5:</strong>
  <%= @mktg_export.text_5 %>
</p>

<p>
  <strong>Text 6:</strong>
  <%= @mktg_export.text_6 %>
</p>

<p>
  <strong>Text 7:</strong>
  <%= @mktg_export.text_7 %>
</p>

<p>
  <strong>Text 8:</strong>
  <%= @mktg_export.text_8 %>
</p>

<p>
  <strong>Text 9:</strong>
  <%= @mktg_export.text_9 %>
</p>

<p>
  <strong>Text 10:</strong>
  <%= @mktg_export.text_10 %>
</p>

<%= link_to 'Edit', edit_mktg_export_path(@mktg_export) %> |
<%= link_to 'Back', mktg_exports_path %>
