<p id="notice"><%= notice %></p>

<p>
  <strong>E:</strong>
  <%= @empire_customer.e_id %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @empire_customer.uid %>
</p>

<p>
  <strong>Lic state:</strong>
  <%= @empire_customer.lic_state %>
</p>

<p>
  <strong>Lic num:</strong>
  <%= @empire_customer.lic_num %>
</p>

<p>
  <strong>Existing:</strong>
  <%= @empire_customer.existing %>
</p>

<p>
  <strong>Purchase s:</strong>
  <%= @empire_customer.purchase_s %>
</p>

<p>
  <strong>Purchase:</strong>
  <%= @empire_customer.purchase %>
</p>

<p>
  <strong>Price s:</strong>
  <%= @empire_customer.price_s %>
</p>

<p>
  <strong>Price:</strong>
  <%= @empire_customer.price %>
</p>

<p>
  <strong>Product:</strong>
  <%= @empire_customer.product %>
</p>

<p>
  <strong>Email:</strong>
  <%= @empire_customer.email %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @empire_customer.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @empire_customer.lname %>
</p>

<p>
  <strong>Street 1:</strong>
  <%= @empire_customer.street_1 %>
</p>

<p>
  <strong>Street 2:</strong>
  <%= @empire_customer.street_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @empire_customer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @empire_customer.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @empire_customer.zip %>
</p>

<%= link_to 'Edit', edit_empire_customer_path(@empire_customer) %> |
<%= link_to 'Back', empire_customers_path %>
