<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @courses_pe.number %>
</p>

<p>
  <strong>Version:</strong>
  <%= @courses_pe.version %>
</p>

<p>
  <strong>Title:</strong>
  <%= @courses_pe.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @courses_pe.category %>
</p>

<p>
  <strong>Sub category:</strong>
  <%= @courses_pe.sub_category %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @courses_pe.hours %>
</p>

<p>
  <strong>Pub date:</strong>
  <%= @courses_pe.pub_date %>
</p>

<p>
  <strong>Update:</strong>
  <%= @courses_pe.version_update %>
</p>

<p>
  <strong>New:</strong>
  <%= @courses_pe.new %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @courses_pe.notes %>
</p>

<%= link_to 'Edit', edit_courses_pe_path(@courses_pe) %> |
<%= link_to 'Back', courses_pes_path %>
