<h1 class="text-center">Admin</h1>
<div class="row">
  <div class="col-lg-4"> <!-- Start column 1 -->
    <div class="m-5">
      <div class="card bg-light bg-gradient">
        <div class="card-body">
          <h5 class="card-title fw-bold">Customer Daily Updates - Sequoia</h5>
          <p class="card-text">Add new purchases from SequoiaCPE.com and update corisponding member records</p>
            <div class="btn-group" role="group" aria-label="">
              <%= link_to  'Customer', sequoia_customers_path(), class: 'btn btn-sm btn-secondary text-light bg-gradient w150' %>
              <%= link_to  'Member', sequoia_members_path(), class: 'btn btn-sm btn-secondary text-light bg-gradient w150' %>
              <%= link_to  'Member EXP', sequoia_member_exps_path(), class: 'btn btn-sm btn-secondary text-light bg-gradient w150' %>
            </div>
        </div>
      </div>
    </div>

    <div class="m-5">
      <div class="card bg-light bg-gradient">
        <div class="card-body">
          <h5 class="card-title fw-bold">Sales - Sequoia</h5>
          <p class="card-text">Update the daily sales totals after new purchases are added</p>
            <div class="btn-group" role="group" aria-label="">
              <%= link_to  'Daily Sales', daily_sales_path(), class: 'btn btn-sm btn-secondary text-light bg-gradient w150' %>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- END column -->
  <div class="col-lg-4"> <!-- Start column 2 -->
    <div class="m-5">
      <div class="card bg-light bg-gradient">
        <div class="card-body">
          <h5 class="card-title fw-bold">Marketing Materials</h5>
          <p class="card-text">Archive of past mailed marketing postcards</p>
          <div class="btn-group" role="group" aria-label="">
            <%= link_to 'Sequoia', mktg_materials_path(co: 'sequoia'), class: 'btn btn-sm btn-secondary text-light bg-gradient w100' %>
            <%= link_to 'Empire', mktg_materials_path(co: 'empire'), class: 'btn btn-sm btn-secondary text-light bg-gradient w100' %>
            <%= link_to 'Pacific', mktg_materials_path(co: 'pacific'), class: 'btn btn-sm btn-secondary text-light bg-gradient w100' %>
          </div>
        </div>
      </div>
    </div>
    <div class="m-5">
      <div class="card bg-light bg-gradient">
        <div class="card-body">
          <h5 class="card-title fw-bold">Postcard Data Exports</h5>
          <p class="card-text">Returning customer in-house postcard mailing data - Generate list and PDFs for printing</p>
          <div class="btn-group" role="group" aria-label="">
            <%= link_to 'Sequoia', mktg_exports_path(co: 'sequoia', delete: 'yes'), class: 'btn btn-sm btn-secondary text-light bg-gradient w100' %>
            <%= link_to 'Empire', mktg_exports_path(co: 'empire', delete: 'yes'), class: 'btn btn-sm btn-secondary text-light bg-gradient w100' %>
          </div>
        </div>
      </div>
    </div>
  </div><!-- END column -->

  <div class="col-lg-4">
    <div class="m-5">
      <div class="card bg-light bg-gradient">
        <div class="card-body">
          <h5 class="card-title fw-bold">Customer Daily Updates - Empire</h5>
          <p class="card-text">Add new purchases from SequoiaCPE.com and update corisponding member records</p>
            <div class="btn-group" role="group" aria-label="">
              <%= link_to  'Customer', empire_customers_path(), class: 'btn btn-sm btn-secondary text-light bg-gradient w150' %>
              <%= link_to  'Member', empire_members_path(), class: 'btn btn-sm btn-secondary text-light bg-gradient w150' %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
