<%#= link_to 'login', login_path %>  <%#= link_to 'logout', session_path(session), method: :delete %>   <%#= link_to 'sign up', session_path(session), method: :create, method: :create %>
<!-- <h3 class="text-center">Morning Updates</h3>
   <table class="table table-striped">
  <thead>
    <tr class="bg-secondary bg-gradient text-light">
      <th></th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%#= link_to 'Run Sequoia', run_update_sequoia_customers_path, target: "_blank", class: 'btn btn-sm btn-primary text-light w150' %></td>
      <td>Run all Sequoia updates - Customer data -> New Member update -> purchase type update -> EXP update</td>
    </tr>
    <tr>
      <td><%#= link_to 'Run Empire', run_update_empire_customers_path, target: "_blank", class: 'btn btn-sm btn-primary text-light w150' %></td>
      <td>Run all Sequoia updates - Customer data -> New Member update -> purchase type update</td>
    </tr>
  </tbody>
</table> -->

<h1 class="text-center">Sequoia</h1>
<br>
<h3 class="text-center">Parent Lists</h3>
<table class="table table-striped">
  <thead>
    <tr class="bg-secondary bg-gradient text-light">
      <th>Table</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to 'Master CPA', master_cpas_path %></td>
      <td>Master CPA List for Steve - most up-to-date version. Delete old and upload new each time new list is recieved</td>
    </tr>
    <tr>
      <td><%= link_to 'Master CPA Match', master_cpa_matches_path %></td>
      <td>Matches customers to the MasterCPA table. Uses SequoiaMembers table and MasterCPA - Update Daily</td>
    </tr>
    <tr>
      <td><%= link_to 'Master CPA No Match', master_cpa_no_matches_path %></td>
      <td>The CPA customers that were not found when trying to match to MasterCPA table</td>
    </tr>
    <tr>
      <td><%= link_to 'Master CPA Double Account', master_cpa_double_accounts_path %></td>
      <td>A CPA that has 2 or more accounts matched with a single license from the MasterCPA table</td>
    </tr>
    <tr>
      <td><%= link_to 'Master EA', master_eas_path %></td>
      <td>Master EA List for Steve - most up-to-date version. Delete old and upload new each time new list is recieved</td>
    </tr>
    <tr>
      <td><%= link_to 'Master EA Match', master_ea_matches_path %></td>
      <td>Matches customers to the MasterEA table. Uses SequoiaMembers table and MasterCPA - Update Daily</td>
    </tr>
    <tr>
      <td><%= link_to 'Master EA No Match', master_ea_no_matches_path %></td>
      <td>The EA customers that were not found when trying to match to MasterCPA table</td>
    </tr>
    <tr>
      <td><%= link_to 'Master EA Double Account', master_ea_double_accounts_path %></td>
      <td>An EA that has 2 or more accounts matched with a single license from the MasterCPA table</td>
    </tr>
  </tbody>
</table>

<br>
<h3 class="text-center">Matching</h3>
<table class="table table-striped">
  <thead>
    <tr class="bg-secondary bg-gradient text-light">
      <th>Table</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to 'CPA Matching', sequoia_matchings_cpa_customer_matching_path() %></td>
      <td>Match all customers to the master CPA list - searching</td>
    </tr>
    <tr>
      <td><%= link_to 'EA Matching', sequoia_matchings_ea_customer_matching_path() %></td>
      <td>Match all customers to the master EA list - searching</td>
    </tr>
    <tr>
      <td><%= link_to 'CPA No Mails', master_cpa_no_mails_path() %></td>
      <td>Table with all CPA No Mails - To search for new <%= link_to 'CPA No Mail Search', sequoia_matchings_no_mail_search_path() %></td>
    </tr>
    <tr>
      <td><%= link_to 'EA No Mails', master_ea_no_mails_path() %></td>
      <td>Table with all EA No Mails - To search for new <%= link_to 'EA No Mail Search', sequoia_matchings_ea_no_mail_search_path() %></td>
    </tr>
  </tbody>
</table>
<br>
<h3 class="text-center">Customer Data</h3>
<table class="table table-striped">
  <thead>
    <tr class="bg-secondary bg-gradient text-light">
      <th>Table</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to 'Daily Sales', daily_sales_path %></td>
      <td>Calculates sales by day using the orders from the SequoiaCustomer table</td>
    </tr>
    <tr>
      <td><%= link_to 'Sequoia Customer', sequoia_customers_path %></td>
      <td>Brings in purchase data from SequoiaCPE.com - Run Daily</td>
    </tr>
    <tr>
      <td><%= link_to 'Sequoia Members', sequoia_members_path %></td>
      <td>Populated by SequoiaCustomer table - Unique UIDs shows how many purchases each customer has made. Creates a unique table of Customers</td>
    </tr>
    <tr>
      <td><%= link_to 'Sequoia NCOA', sequoia_ncoas_path() %></td>
      <td>Table of Sequoia Contact info that has been changed by NCOA</td>
    </tr>
    <!-- <tr>
      <td><%#= link_to 'Sequoia Members EXP', sequoia_member_exps_path %></td>
      <td>Populated by SequoiaCustomer and Sequoia Members table - Shows Membership EXP dates per UID - For Postcard and Email Marketing.</td>
    </tr> -->
  </tbody>
</table>
<br>
<h3 class="text-center">Marketing</h3>
<table class="table table-striped">
  <thead>
    <tr class="bg-secondary bg-gradient text-light">
      <th>Table</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to 'MKTG Exports', mktg_exports_path %></td>
      <td>Staging table for MKTG Export files - add the customer data needed view date search fields. Data is deleted after each search</td>
    </tr>
    <tr>
      <td><%= link_to 'MKTG Materials', mktg_materials_path %></td>
      <td>Archive of past mailed marketing materials - referance for customer service team -> current upload through AWS</td>
    </tr>
  </tbody>
</table>
<br>
<h3 class="text-center">General</h3>
<table class="table table-striped">
  <thead>
    <tr class="bg-secondary bg-gradient text-light">
      <th>Table</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to 'Sequoia Product List', sequoia_product_lists_path %></td>
      <td>Lsit of all Sequoia product types. Used for SequoiaMember and DailySales table to determin CPA/EA/Ethics etc.</td>
    </tr>
    <tr>
      <td><%= link_to 'Canned Responses', canned_responses_path %></td>
      <td>Answers to frequently asked questions</td>
    </tr>
    <tr>
      <td><%= link_to 'Users', users_path %></td>
      <td>All Users on the site</td>
    </tr>
  </tbody>
</table>
<br>
<h1 class="text-center">Empire</h1>
<h3 class="text-center">Customers Data</h3>
<table class="table table-striped">
  <thead>
    <tr class="bg-secondary bg-gradient text-light">
      <th>Table</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to 'Empire Customers', empire_customers_path %></td>
      <td>Brings in purchase data from EmpireLearning.com - Run Daily</td>
    </tr>
    <tr>
      <td><%= link_to 'Empire Members', empire_members_path %></td>
      <td>Populated by EmpireCustomer table - Unique UIDs shows how many purchases each customer has made. Creates a unique table of Customers</td>
    </tr>
    <tr>
      <td><%= link_to 'Empire Course Dashbaord', dash_empire_course_revisions_path() %></td>
      <td>Tools for Empire Courses - revisions and creations </td>
    </tr>
  </tbody>
</table>
<h3 class="text-center">Searching</h3>
<table class="table table-striped">
  <thead>
    <tr class="bg-secondary bg-gradient text-light">
      <th>Table</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to 'Empire No Mail', empire_matchings_no_mail_path %></td>
      <td>No Mail for Empire MKTG</td>
    </tr>
    <tr>
      <td><%= link_to 'Lic Search', empire_matchings_lic_match_path %></td>
      <td>Match all customers to their master State list - searching</td>
    </tr>
  </tbody>
</table>
<h3 class="text-center">Matching</h3>
<table class="table table-striped">
  <thead>
    <tr class="bg-secondary bg-gradient text-light">
      <th>Table</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to 'Matches', empire_master_matches_path %></td>
      <td>Match between Master (board) lists and customer date - used for exp</td>
    </tr>
    <tr>
      <td><%= link_to 'No Matches', empire_master_no_matches_path %></td>
      <td>Could not find a match between Empire customer and master (board) list</td>
    </tr>
    <tr>
      <td><%= link_to 'Double Account', empire_master_double_accounts_path %></td>
      <td>Empire Customers who have 2 accounts - multiple UID per on LID</td>
    </tr>
  </tbody>
</table>
<h3 class="text-center">Master State Lists + Matching</h3>
<table class="table table-striped">
  <thead>
    <tr class="bg-secondary bg-gradient text-light">
      <th>Table</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to 'Empire Master NY List', empire_master_ny_lists_path %></td>
      <td>Licensee data from the state board of NY - Update regularly with new list from the board website</td>
    </tr>
    <tr>
      <td><%= link_to 'Empire Master CA List', empire_master_ca_lists_path %></td>
      <td>Licensee data from the state board of CA - Update regularly with new list from the board website</td>
    </tr>
    <tr>
      <td><%= link_to 'Empire Master GA List', empire_master_ga_lists_path %></td>
      <td>Licensee data from the state board of GA - Update regularly with new list from the board website</td>
    </tr>
    <tr>
      <td><%= link_to 'Empire Master IN List', empire_master_ind_lists_path %></td>
      <td>Licensee data from the state board of IN - Update regularly with new list from the board website</td>
    </tr>
    <tr>
      <td><%= link_to 'Empire Master MO List', empire_master_mo_lists_path %></td>
      <td>Licensee data from the state board of MO - Update regularly with new list from the board website</td>
    </tr>
    <tr>
      <td><%= link_to 'Empire Master NC List', empire_master_nc_lists_path %></td>
      <td>Licensee data from the state board of NC - Update regularly with new list from the board website</td>
    </tr>
    <tr>
      <td><%= link_to 'Empire Master NJ List', empire_master_nj_lists_path %></td>
      <td>Licensee data from the state board of NJ - Update regularly with new list from the board website</td>
    </tr>
    <tr>
      <td><%= link_to 'Empire Master NM List', empire_master_nm_lists_path %></td>
      <td>Licensee data from the state board of NM - Update regularly with new list from the board website</td>
    </tr>
    <tr>
      <td><%= link_to 'Empire Master PA List', empire_master_pa_lists_path %></td>
      <td>Licensee data from the state board of PA - Update regularly with new list from the board website</td>
    </tr>
    <tr>
      <td><%= link_to 'Empire Master SC List', empire_master_sc_lists_path %></td>
      <td>Licensee data from the state board of SC - Update regularly with new list from the board website</td>
    </tr>
    <tr>
      <td><%= link_to 'Empire Master TN List', empire_master_tn_lists_path %></td>
      <td>Licensee data from the state board of Tn - Update regularly with new list from the board website</td>
    </tr>
    <tr>
      <td><%= link_to 'Empire Master TX List', empire_master_tx_lists_path %></td>
      <td>Licensee data from the state board of TX - Update regularly with new list from the board website</td>
    </tr>
    <tr>
      <td><%= link_to 'Empire Master UT List', empire_master_ut_lists_path %></td>
      <td>Licensee data from the state board of UT - Update regularly with new list from the board website</td>
    </tr>
    <tr>
      <td><%= link_to 'Empire Master VA List', empire_master_va_lists_path %></td>
      <td>Licensee data from the state board of VA - Update regularly with new list from the board website</td>
    </tr>
    <tr>
      <td><%= link_to 'Empire Master WA List', empire_master_wa_lists_path %></td>
      <td>Licensee data from the state board of WA - Update regularly with new list from the board website</td>
    </tr>
  </tbody>
</table>
<br>
