<div class="card w350 mt-3">
  <div class="card-body">
    <h5 class="card-title">No Mail Requests</h5>
    <h6 class="card-subtitle mb-2 text-muted">Non Customers Only</h6>
    <p class="card-text">To remove a name from our prospective customer mailing lists select the apropraite link below and search for the name.</p>
    <%= link_to 'Add New CPA', sequoia_matchings_no_mail_search_path, class: 'card-link' %>
    <%= link_to 'Add New EA', sequoia_matchings_ea_no_mail_search_path, class: 'card-link' %>
  </div>
</div>
<div class="card w350 mt-3">
  <div class="card-body">
    <h5 class="card-title">Sequoia Customer Update</h5>
    <h6 class="card-subtitle mb-2 text-muted">Loads New Purchase Data</h6>
    <p class="card-text">Activates connection to SequoiaCPE.com and loads new purchases into SequoiaCustomers table. A new page will open and will load records one at a time. Run on a daily basis.</p>
    <%= link_to 'Sequoia Customer Purchases', sequoia_customers_path() %>
  </div>
</div>
<!-- <div class="card w350 mt-3">
  <div class="card-body">
    <h5 class="card-title">Customer Member Update</h5>
    <h6 class="card-subtitle mb-2 text-muted">Unique Sequoia Customers Only</h6>
    <p class="card-text">Table displays unique UID's only and counts the types and number of purchases each individual person has made. This seperates the customers to by EA and CPA for master list matching. Run Daily or before doing master list matching. Two types of updates. One to add new unique customers to the table and another to update new purhcases for all customers</p>
    <%= link_to 'Sequoia Members Table', sequoia_members_path() %>
  </div>
</div> -->

<h1>Test Section</h1>

<% cpa_membership = SequoiaProductList.where(who: 'cpa').where(group: 'membership').pluck(:product) %>
<% SequoiaMember.where(cpa: true).limit(10).each do |i| %>
  <% order_id =  SequoiaCustomer.where(uid: i.uid).where(product_1: cpa_membership).pluck(:order_id).min %>
  <% order = SequoiaCustomer.find_by(order_id: order_id) %>
  <p><%= order.purchase %></p>
<% end %>
