<h1 class="text-center">Marketing</h1>
<div class="row">
  <div class="col-lg-4"> <!-- Start column 1 -->
    <div class="m-4">
      <div class="card bg-light bg-gradient">
        <div class="card-body">
          <h5 class="card-title fw-bold">Postcard Mailing Schedule</h5>
          <p class="card-text">Schedule for different postcard campaigns with expiration dates</p>
            <div class="btn-group" role="group" aria-label="">
              <%= link_to 'View Today', day_mktg_postcards_path(day: Date.today.strftime('%Y-%m-%d')), class: 'btn btn-sm btn-secondary text-light bg-gradient w150' %>
              <%= link_to 'View Index', mktg_postcards_path(), class: 'btn btn-sm btn-secondary text-light bg-gradient w150' %>
            </div>
        </div>
      </div>
    </div>
    <div class="m-4">
      <div class="card bg-light bg-gradient">
        <div class="card-body">
          <h5 class="card-title fw-bold">Postcard Data Exports</h5>
          <p class="card-text">Returning customer in-house postcard mailing data - Generate list and PDFs for printing</p>
          <div class="btn-group" role="group" aria-label="">
            <%= link_to 'Sequoia', mktg_exports_path(co: 'sequoia', delete: 'yes'), class: 'btn btn-sm btn-secondary text-light bg-gradient w100' %>
            <%= link_to 'Empire', mktg_exports_path(co: 'empire', delete: 'yes'), class: 'btn btn-sm btn-secondary text-light bg-gradient w100' %>
            <%= link_to 'Special', mktg_exports_path(), class: 'btn btn-sm btn-secondary text-light bg-gradient w100' %>
          </div>
        </div>
      </div>
    </div>
    <div class="m-4">
      <div class="card bg-light bg-gradient">
        <div class="card-body">
          <h5 class="card-title fw-bold">Marketing Materials</h5>
          <p class="card-text">Archive of past mailed marketing postcards</p>
          <div class="btn-group" role="group" aria-label="">
            <%= link_to 'Sequoia', mktg_materials_path(co: 'sequoia'), class: 'btn btn-sm btn-secondary text-light bg-gradient w100' %>
            <%= link_to 'Empire', mktg_materials_path(co: 'empire'), class: 'btn btn-sm btn-secondary text-light bg-gradient w100' %>
            <%= link_to 'Pacific', mktg_materials_path(co: 'pacific'), class: 'btn btn-sm btn-secondary text-light bg-gradient w100' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="m-4">
      <div class="card bg-light bg-gradient">
        <div class="card-body">
          <h5 class="card-title fw-bold">Sequoia Customer Data</h5>
          <p class="card-text">All order records and member data. Must run daily updates on these tables. </p>
            <div class="btn-group" role="group" aria-label="">
              <%= link_to  'Purchases', sequoia_customers_path(), class: 'btn btn-sm btn-secondary text-light bg-gradient w150' %>
              <%= link_to  'Members', sequoia_members_path(), class: 'btn btn-sm btn-secondary text-light bg-gradient w150' %>
            </div>
        </div>
      </div>
    </div>
    <div class="m-4">
      <div class="card bg-light bg-gradient">
        <div class="card-body">
          <h5 class="card-title fw-bold">Empire Customer Data</h5>
          <p class="card-text">All order records and member data. Must run daily updates on these tables. </p>
            <div class="btn-group" role="group" aria-label="">
              <%= link_to  'Purchases', empire_customers_path(), class: 'btn btn-sm btn-secondary text-light bg-gradient w150' %>
              <%= link_to  'Members', empire_members_path(), class: 'btn btn-sm btn-secondary text-light bg-gradient w150' %>
            </div>
        </div>
      </div>
    </div>
    <div class="m-4">
      <div class="card bg-light bg-gradient">
        <div class="card-body">
          <h5 class="card-title fw-bold">States Tables</h5>
          <p class="card-text">State CE and expiration infomation.  </p>
            <div class="btn-group" role="group" aria-label="">
              <%= link_to  'Sequoia', sequoia_states_path(), class: 'btn btn-sm btn-secondary text-light bg-gradient w150' %>
              <%= link_to  'Empire', empire_states_path(), class: 'btn btn-sm btn-secondary text-light bg-gradient w150' %>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="m-4">
      <div class="card w500 bg-light bg-gradient">
        <div class="card-body">
          <h5 class="card-title fw-bold">Customer Matching - Sequoia</h5>
          <p class="card-text">Matching customers (UID) to master state lists (LID)</p>
          <div class="btn-group" role="group" aria-label="">
            <%= link_to 'CPA', sequoia_matchings_cpa_customer_matching_path, class: 'btn btn-sm btn-secondary text-light bg-gradient w150' %>
            <%= link_to 'EA', sequoia_matchings_ea_customer_matching_path, class: 'btn btn-sm btn-secondary text-light bg-gradient w150' %>
            <%= link_to 'Info', sequoia_matchings_info_path, class: 'btn btn-sm btn-secondary text-light bg-gradient w100' %>
          </div>
        </div>
      </div>
    </div>
    <div class="m-4">
      <div class="card w500 bg-light bg-gradient">
        <div class="card-body">
          <h5 class="card-title fw-bold">NCOA Tables</h5>
          <p class="card-text">Results from running NCOA update - Holds customer data that has changed</p>
          <div class="btn-group" role="group" aria-label="">
            <%= link_to 'Sequoia', sequoia_ncoas_path, class: 'btn btn-sm btn-secondary text-light bg-gradient w150' %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
