<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @no_mail_not_found.company %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @no_mail_not_found.fname %>
</p>

<p>
  <strong>Mi:</strong>
  <%= @no_mail_not_found.mi %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @no_mail_not_found.lname %>
</p>

<p>
  <strong>Suf:</strong>
  <%= @no_mail_not_found.suf %>
</p>

<p>
  <strong>Co:</strong>
  <%= @no_mail_not_found.co %>
</p>

<p>
  <strong>Add:</strong>
  <%= @no_mail_not_found.add %>
</p>

<p>
  <strong>Add2:</strong>
  <%= @no_mail_not_found.add2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @no_mail_not_found.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @no_mail_not_found.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @no_mail_not_found.zip %>
</p>

<p>
  <strong>Note:</strong>
  <%= @no_mail_not_found.note %>
</p>

<p>
  <strong>Des:</strong>
  <%= @no_mail_not_found.des %>
</p>

<p>
  <strong>Lic state:</strong>
  <%= @no_mail_not_found.lic_state %>
</p>

<%= link_to 'Edit', edit_no_mail_not_found_path(@no_mail_not_found) %> |
<%= link_to 'Back', no_mail_not_founds_path %>
