<h1 class="text-center">Sequoia Members - Run Update 2 (purchases)</h1>

<p>Order ID Counter: <%= number_with_delimiter(@order_id) %></p>
<div class="m-5">

<table class="table table-striped">

  <thead>
    <tr class="bg-secondary bg-gradient text-light">
      <th>CPA</th>
      <th>CPA Memberships</th>
      <th>EA</th>
      <th>EA Memberships</th>
      <th>Ethics</th>
      <th>Ehics Purchases</th>
      <th>AFSP</th>
      <th>AFSP Purchases</th>
      <th>Other</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= number_with_delimiter(SequoiaMember.where(cpa: true).count) %></td>
      <td><%= number_with_delimiter(SequoiaMember.sum(:cpa_memberships)) %></td>
      <td><%= number_with_delimiter(SequoiaMember.where(ea: true).count) %></td>
      <td><%= number_with_delimiter(SequoiaMember.sum(:ea_memberships)) %></td>
      <td><%= number_with_delimiter(SequoiaMember.where(ethics: true).count) %></td>
      <td><%= number_with_delimiter(SequoiaMember.sum(:ethics_purchases)) %></td>
      <td><%= number_with_delimiter(SequoiaMember.where(afsp: true).count) %></td>
      <td><%= number_with_delimiter(SequoiaMember.sum(:afsp_purchases)) %></td>
      <td><%= number_with_delimiter(SequoiaMember.sum(:other)) %></td>
    </tr>
  </tbody>

</table>

</div>
