<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @empire_master_double_account.uid %>
</p>

<p>
  <strong>Lic st:</strong>
  <%= @empire_master_double_account.lic_st %>
</p>

<p>
  <strong>List:</strong>
  <%= @empire_master_double_account.list %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @empire_master_double_account.lname %>
</p>

<p>
  <strong>Search date:</strong>
  <%= @empire_master_double_account.search_date %>
</p>

<%= link_to 'Edit', edit_empire_master_double_account_path(@empire_master_double_account) %> |
<%= link_to 'Back', empire_master_double_accounts_path %>
