
<!-- <p><%#= link_to 'Temp Fix LIC', list_data_hp_empire_states_path(temp: 'lic_fix'), class: 'btn btn-sm btn-outline-success' %></p> -->
<!-- <p><%#= link_to 'Temp Fix Upcase', list_data_hp_empire_states_path(temp: 'upcase_fix'), class: 'btn btn-sm btn-outline-success' %></p> -->
<p><%= link_to 'Temp Fix Leading Zero', list_data_hp_empire_states_path(temp: 'leading_zero_fix'), class: 'btn btn-sm btn-outline-success' %></p>

<h1 class="text-center">Empire List Data and Matching</h1>
<p class="text-center"><%= link_to 'Empire States Page', empire_states_path(), class: 'btn btn-outline-primary' %></p>

<div class="m-5">
  <div class="w300"><input class="form-control" id="myInput" type="text" placeholder="Filter Table"></div>
  <div class="text-center">
    <div class="btn-group text-center" role="group" aria-label="Basic example">
      <%= link_to 'Update Matched', list_data_hp_empire_states_path(update: 'matched'), class: 'btn btn-sm btn-outline-success w200' %>
      <%= link_to 'Update Customers', list_data_hp_empire_states_path(update: 'customers'), class: 'btn btn-sm btn-outline-success w200' %>
      <%= link_to 'Update Expired/Other', list_data_hp_empire_states_path(update: 'expired'), class: 'btn btn-sm btn-outline-success w200' %>
    </div>
  </div>
  <p id="notice"><%= notice %></p>
<table class="table table-striped border">
  <thead>
    <tr class="bg-secondary bg-gradient text-light">
      <th>State</th>
      <th class="text-center">Action</th>
      <th class="text-center">Matched</th>
      <th class="text-center">Customers</th>
      <th class="text-center">Expired</th>
      <th class="text-center">Other</th>
      <th class="text-center">Non Matched</th>
      <th class="text-center">List Size</th>
      <th>List Date</th>
      <th>Active</th>
      <th>Expired</th>
      <th>Market</th>
      <th>Exp Type</th>
      <th>Renewal Cycle</th>
      <th>Next Exp</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody id="myTable">
    <% @empire_states.order(st: :ASC).each do |empire_state| %>
      <tr>
        <td><strong><%= empire_state.state %></strong></td>
        <td class="text-center">
          <div class="btn-group text-center" role="group" aria-label="Basic example">
            <%= link_to 'Run Match', send("empire_master_#{empire_state.st.downcase}_matches_path", run: 'yes', route: 'hp'), class: 'btn btn-outline-success btn-sm w100', data: {disable_with: "Loading..."} %>
          </div>
        </td>
        <% if empire_state.matched_customers.present? %>
          <td class="text-center"><%= link_to number_with_delimiter(empire_state.matched_customers), send("empire_master_#{empire_state.st.downcase}_matches_path"), class: 'btn btn-sm btn-outline-secondary w100' %></td>
        <% else %> <td> </td><% end %>
        <!-- <td><%#= empire_state.matched_customers.present? ? number_with_delimiter(empire_state.matched_customers) : '' %></td> -->
        <% if empire_state.customers.present? %><td class="text-center"><%= link_to number_with_delimiter(empire_state.customers), empire_members_path(st: empire_state.st ), class: 'btn btn-sm btn-outline-secondary w100' %></td><% else %> <td> </td><% end %>
        <% if empire_state.lic_expired.present? %><td class="text-center"><%= link_to number_with_delimiter(empire_state.lic_expired), empire_members_path(st: empire_state.st, type: 'expired' ), class: 'btn btn-sm btn-outline-secondary w100' %></td><% else %> <td> </td><% end %>
        <% if empire_state.lic_other.present? %><td class="text-center"><%= link_to number_with_delimiter(empire_state.lic_other), empire_members_path(st: empire_state.st, type: 'other' ), class: 'btn btn-sm btn-outline-secondary w100' %></td><% else %> <td> </td><% end %>
        <% if empire_state.customers.present? && empire_state.lic_expired.present? && empire_state.lic_other.present? %><td><%= link_to number_with_delimiter(empire_state.customers - empire_state.matched_customers - empire_state.lic_expired - empire_state.lic_other), empire_members_path(st: empire_state.st, type: 'no_match' ), class: 'btn btn-sm btn-outline-secondary w100' %></td><% else %> <td> </td><% end %>
        <% if empire_state.list_size.present? %><td class="text-center"><%= link_to number_with_delimiter(empire_state.list_size), send("empire_master_#{empire_state.st.downcase}_lists_path"), class: 'btn btn-sm btn-outline-secondary w100' %></td><% else %> <td> </td><% end %>
        <td class="bold"><%= empire_state.list_date.present? ? empire_state.list_date.strftime('%-m/%-d/%Y') : 'n/a' %></td>
        <td><%= empire_state.matched_customers.present? && empire_state.customers.present? ? number_to_percentage((empire_state.matched_customers.to_f / empire_state.customers.to_f)*100, precision: 0) : ''%></td>
        <td><%= empire_state.lic_expired.present? && empire_state.customers.present? ? number_to_percentage((empire_state.lic_expired.to_f / empire_state.customers.to_f)*100, precision: 0) : ''%></td>
        <td><%= empire_state.matched_customers.present? && empire_state.list_size.present? ? number_to_percentage((empire_state.matched_customers.to_f / empire_state.list_size.to_f)*100, precision: 0) : ''%></td>
        <td><%= empire_state.exp_type %></td>
        <td><%= empire_state.renewal_cycle %></td>
        <td><%= empire_state.next_exp.present? ? empire_state.next_exp.strftime('%-m/%-d/%Y') : 'n/a' %></td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <%= link_to 'More', empire_state, class: 'btn btn-sm btn-outline-secondary' %>
            <%= link_to 'Edit', edit_empire_state_path(empire_state), class: 'btn btn-sm btn-outline-secondary' %>
          </div>
        </td>
        <!-- <td><%= link_to 'Delete', empire_state, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>

    <% end %>
      <tr class="fw-bold">
        <% customers = EmpireState.sum(:customers) %>
        <% matched = EmpireState.sum(:matched_customers) %>
        <% list = EmpireState.sum(:list_size) %>
        <% lic_expired = EmpireState.sum(:lic_expired) %>
        <% lic_other = EmpireState.sum(:lic_other) %>
        <td>States: <%= EmpireState.count %></td>
        <td colspan="1"></td>
        <td class="text-center"><%= number_with_delimiter(matched) %></td>
        <td class="text-center"><%= number_with_delimiter(customers) %></td>
        <td class="text-center"><%= number_with_delimiter(lic_expired) %></td>
        <td class="text-center"><%= number_with_delimiter(lic_other) %></td>
        <td class="text-center"><%= number_with_delimiter(customers - matched - lic_other - lic_expired) %></td>
        <td class="text-center"><%= number_with_delimiter(list) %></td>
        <td></td>
        <td><%= number_to_percentage((matched.to_f/customers.to_f)*100, precision: 1) %></td>
        <td><%= number_to_percentage((lic_expired.to_f/customers.to_f)*100, precision: 1) %></td>
        <td><%= number_to_percentage((matched.to_f/list.to_f)*100, precision: 1) %></td>
        <td colspan="8"></td>
      </tr>
  </tbody>
</table>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>
