
<p><%= link_to 'Temp Fix LIC', list_data_hp_empire_states_path(temp: 'lic_fix'), class: 'btn btn-sm btn-outline-success' %></p>
<p><%= link_to 'Temp Fix Upcase', list_data_hp_empire_states_path(temp: 'upcase_fix'), class: 'btn btn-sm btn-outline-success' %></p>
<p><%= link_to 'Temp Fix Leading Zero', list_data_hp_empire_states_path(temp: 'leading_zero_fix'), class: 'btn btn-sm btn-outline-success' %></p>

<h1 class="text-center">Empire List Data and Matching</h1>
<p class="text-center"><%= link_to 'Empire States Page', empire_states_path(), class: 'btn btn-outline-primary' %></p>

<div class="w300 m-5"><input class="form-control" id="myInput" type="text" placeholder="Filter Table"></div>
<div class="m-5">
  <p id="notice"><%= notice %></p>
<table class="table table-striped border">
  <thead>
    <tr class="bg-secondary bg-gradient text-light">
      <th>State</th>
      <th>Action</th>
      <th>Matched</th>
      <th>Customers</th>
      <th>Non Matched</th>
      <th>List Size</th>
      <th>List Date</th>
      <th>% Matched</th>
      <th>Market Share</th>
      <th>Exp Type</th>
      <th>Renewal Cycle</th>
      <th>Next Exp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="myTable">
    <% @empire_states.order(st: :ASC).each do |empire_state| %>
      <tr>
        <td><strong><%= empire_state.state %></strong></td>
        <td><%= link_to 'Run Match', send("empire_master_#{empire_state.st.downcase}_matches_path", run: 'yes', route: 'hp'), class: 'btn btn-outline-success btn-sm w100', data: {disable_with: "Loading..."} %></td>
        <% if empire_state.matched_customers.present? %>
          <td><%= link_to number_with_delimiter(empire_state.matched_customers), send("empire_master_#{empire_state.st.downcase}_matches_path"), class: 'btn btn-sm btn-outline-secondary w100' %></td>
        <% else %> <td> </td><% end %>
        <!-- <td><%#= empire_state.matched_customers.present? ? number_with_delimiter(empire_state.matched_customers) : '' %></td> -->
        <% if empire_state.customers.present? %><td><%= link_to number_with_delimiter(empire_state.customers), empire_members_path(st: empire_state.st ), class: 'btn btn-sm btn-outline-secondary w100' %></td><% else %> <td> </td><% end %>
        <% if empire_state.customers.present? %><td><%= link_to number_with_delimiter(empire_state.customers - empire_state.matched_customers), empire_members_path(st: empire_state.st, type: 'no_match' ), class: 'btn btn-sm btn-outline-secondary w100' %></td><% else %> <td> </td><% end %>

        <% if empire_state.list_size.present? %><td><%= link_to number_with_delimiter(empire_state.list_size), send("empire_master_#{empire_state.st.downcase}_lists_path"), class: 'btn btn-sm btn-outline-secondary w150' %></td><% else %> <td> </td><% end %>
        <td><%= empire_state.list_date %></td>
        <td><%= empire_state.matched_customers.present? && empire_state.customers.present? ? number_to_percentage((empire_state.matched_customers.to_f / empire_state.customers.to_f)*100, precision: 0) : ''%></td>
        <td><%= empire_state.matched_customers.present? && empire_state.list_size.present? ? number_to_percentage((empire_state.matched_customers.to_f / empire_state.list_size.to_f)*100, precision: 1) : ''%></td>
        <td><%= empire_state.exp_type %></td>
        <td><%= empire_state.renewal_cycle %></td>
        <td><%= empire_state.next_exp %></td>
        <td><%= link_to 'More Info', empire_state %></td>
        <td><%= link_to 'Edit', edit_empire_state_path(empire_state) %></td>
        <td><%= link_to 'Delete', empire_state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
      <tr class="fw-bold">
        <% customers = EmpireState.sum(:customers) %>
        <% matched = EmpireState.sum(:matched_customers) %>
        <% list = EmpireState.sum(:list_size) %>
        <td>States: <%= EmpireState.count %></td>
        <td colspan="1"></td>
        <td><%= number_with_delimiter(matched) %></td>
        <td><%= number_with_delimiter(customers) %></td>
        <td></td>
        <td><%= number_with_delimiter(list) %></td>
        <td></td>
        <td><%= number_to_percentage((matched.to_f/customers.to_f)*100, precision: 0) %></td>
        <td><%= number_to_percentage((matched.to_f/list.to_f)*100, precision: 1) %></td>
        <td colspan="8"></td>
      </tr>
  </tbody>
</table>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>
