<p id="notice"><%= notice %></p>

<h3 class="text-center">Empire State: <strong><%= @empire_state.state %></strong></h3>
<br>
<h5 class=""><strong>New State Tasks</strong></h5>
<br>
<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#newStateTasks">Add New Tasks</button>
<br><br>
  <table class="table table-striped table-outline">
    <thead>
      <tr class="bg-secondary bg-gradient text-light">
        <th>Step</th>
        <th>Step Name</th>
        <th>Details</th>
        <th>Assigned To</th>
        <th>Due Date</th>
        <th>Completed</th>
        <th>Completed Date</th>
        <th>Notes</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% EmpireStateTask.where(empire_state_id: @empire_state.id).order(step_number: :ASC).all.each do |i| %>
      <tr>
        <td><%= i.step_number %></td>
        <td><%= i.step_name %></td>
        <td><%= i.details %></td>
        <td><%= i.assigned %></td>
        <td><%= i.due_date.present? ?  i.due_date.strftime('%-m/%-d/%y') : '' %></td>
        <% if i.completed? %>
          <td class="success"><strong>YES</strong></td>
        <% else %>
          <td class=""><strong>NO</strong></td>
        <% end %>
        <td><%= i.completed_date %></td>
        <td><%= i.task_notes %></td>
        <td><%= link_to 'Edit', edit_empire_state_task_path(id: i.id), class: 'btn btn-xs btn-primary text-light' %></td>
        <td><%= link_to 'Remove', empire_state_task_path(id: i.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger text-light' %></td>
      </tr>
      <% end %>
    </tbody>

  </table>

  <div class="m-4"><br><hr><br></div>

  <h5 class=""><strong>State List Information</strong></h5>
  <br>

<div class="row">
  <div class="col-md-6">

    <p><strong>State:</strong><%= @empire_state.state %></p
    <p><strong>St:</strong><%= @empire_state.st %></p>
    <p><strong>Customers:</strong><%= @empire_state.customers %></p>
    <p><strong>Matched customers:</strong><%= @empire_state.matched_customers %></p>
    <p><strong>List size:</strong><%= @empire_state.list_size %></p>
    <p><strong>List date:</strong><%= @empire_state.list_date %></p>
    <p><strong>List cost:</strong><%= @empire_state.list_cost %></p><p><strong>List notes:</strong><%= @empire_state.list_notes %></p>
    <p><strong>List Link:</strong><%= @empire_state.link %></p>
    <p><strong>Exp type:</strong><%= @empire_state.exp_type %></p>
    <p><strong>Renewal cycle:</strong><%= @empire_state.renewal_cycle %></p>
    <p><strong>Next exp:</strong><%= @empire_state.next_exp %></p>
    <p><strong>Exp notes:</strong><%= @empire_state.exp_notes %></p>

    <%= link_to 'Edit', edit_empire_state_path(@empire_state) %> |
    <%= link_to 'Back', empire_states_path %>
  </div>
  <div class="col-md-6">
    <br><br>

  </div>
</div>



  <!-- MODAL New State tasks -->
  <div class="modal fade" id="newStateTasks" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New State Task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= simple_form_for(@empire_state_task) do |f| %>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            <div class="form-inputs">

              <%= f.input :empire_state_id, label: false, input_html: {value: @empire_state.id, class: 'input-box-height-lg-color'}, as: :hidden  %>
              <div class="row down30">
                <div class="col-md-2">
                  <%= f.input :step_number, label: 'Step Number', input_html: {value: @step_number}%>
                </div>
                <div class="col-md-10">
                  <%= f.input :step_name, label: 'Step Name', input_html: {value: @step_name} %>
                </div>
              </div>
              <br>
                <%= f.input :details, input_html: {rows: 5} %>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <%= f.input :assigned, label: 'Assigned To:', as: :select, collection: ['Kyle','John','Christian','Rachael','Sabrina', 'Michael','Makenzie', 'James', 'Melissa','Caris','Austin'] %>
                </div>
                <div class="col-md-6 down30">
                  <%= f.input :due_date %>
                </div>
              </div>
            </div>
            <br><br>
            <div class="form-actions ">
              <%= f.button :submit, 'Create', class: 'bnt btn-lg btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
