<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @empire_state.state %>
</p>

<p>
  <strong>St:</strong>
  <%= @empire_state.st %>
</p>

<p>
  <strong>Customers:</strong>
  <%= @empire_state.customers %>
</p>

<p>
  <strong>Matched customers:</strong>
  <%= @empire_state.matched_customers %>
</p>

<p>
  <strong>List size:</strong>
  <%= @empire_state.list_size %>
</p>

<p>
  <strong>List date:</strong>
  <%= @empire_state.list_date %>
</p>

<p>
  <strong>List cost:</strong>
  <%= @empire_state.list_cost %>
</p>

<p>
  <strong>List notes:</strong>
  <%= @empire_state.list_notes %>
</p>
<p>
  <strong>List Link:</strong>
  <%= @empire_state.link %>
</p>

<p>
  <strong>Exp type:</strong>
  <%= @empire_state.exp_type %>
</p>

<p>
  <strong>Renewal cycle:</strong>
  <%= @empire_state.renewal_cycle %>
</p>

<p>
  <strong>Next exp:</strong>
  <%= @empire_state.next_exp %>
</p>

<p>
  <strong>Exp notes:</strong>
  <%= @empire_state.exp_notes %>
</p>

<%= link_to 'Edit', edit_empire_state_path(@empire_state) %> |
<%= link_to 'Back', empire_states_path %>
