<p id="notice"><%= notice %></p>

<p>
  <strong>Step number:</strong>
  <%= @empire_state_tasks_suppliment.step_number %>
</p>

<p>
  <strong>Step name:</strong>
  <%= @empire_state_tasks_suppliment.step_name %>
</p>

<%= link_to 'Edit', edit_empire_state_tasks_suppliment_path(@empire_state_tasks_suppliment) %> |
<%= link_to 'Back', empire_state_tasks_suppliments_path %>
