
<%= simple_form_for(@mktg_postcard) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :company %>
    <%= f.input :campaign %>
    <%= f.input :segment %>
    <%= f.input :mail_day %>
    <%= f.input :range_1_a, include_blank: true %>
    <%= f.input :range_1_b, include_blank: true %>
    <%= f.input :range_2_a, include_blank: true  %>
    <%= f.input :range_2_b, include_blank: true %>
    <%= f.input :range_3_a, include_blank: true %>
    <%= f.input :range_3_b, include_blank: true %>
    <%= f.input :done %>
    <%= f.input :sent %>
    <%= f.input :notes %>
  </div>
<br>
  <div class="form-actions ">
    <%= f.button :submit, 'Submit', class: 'btn btn-primary bg-gradient text-light' %>
  </div>
<% end %>
