<p id="notice"><%= notice %></p>

<p>
  <strong>Lid:</strong>
  <%= @master_ea.lid %>
</p>

<p>
  <strong>List:</strong>
  <%= @master_ea.list %>
</p>

<p>
  <strong>Lic:</strong>
  <%= @master_ea.lic %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @master_ea.fname %>
</p>

<p>
  <strong>Mi:</strong>
  <%= @master_ea.mi %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @master_ea.lname %>
</p>

<p>
  <strong>Suf:</strong>
  <%= @master_ea.suf %>
</p>

<p>
  <strong>Co:</strong>
  <%= @master_ea.co %>
</p>

<p>
  <strong>Add:</strong>
  <%= @master_ea.add %>
</p>

<p>
  <strong>Add2:</strong>
  <%= @master_ea.add2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @master_ea.city %>
</p>

<p>
  <strong>St:</strong>
  <%= @master_ea.st %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @master_ea.zip %>
</p>

<%= link_to 'Edit', edit_master_ea_path(@master_ea) %> |
<%= link_to 'Back', master_eas_path %>
