<p id="notice"><%= notice %></p>

<p>
  <strong>Lid:</strong>
  <%= @master_cpa.lid %>
</p>

<p>
  <strong>List:</strong>
  <%= @master_cpa.list %>
</p>

<p>
  <strong>Lic st:</strong>
  <%= @master_cpa.lic_st %>
</p>

<p>
  <strong>Lic:</strong>
  <%= @master_cpa.lic %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @master_cpa.fname %>
</p>

<p>
  <strong>Mi:</strong>
  <%= @master_cpa.mi %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @master_cpa.lname %>
</p>

<p>
  <strong>Suf:</strong>
  <%= @master_cpa.suf %>
</p>

<p>
  <strong>Co:</strong>
  <%= @master_cpa.co %>
</p>

<p>
  <strong>Add:</strong>
  <%= @master_cpa.add %>
</p>

<p>
  <strong>Add2:</strong>
  <%= @master_cpa.add2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @master_cpa.city %>
</p>

<p>
  <strong>St:</strong>
  <%= @master_cpa.st %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @master_cpa.zip %>
</p>

<%= link_to 'Edit', edit_master_cpa_path(@master_cpa) %> |
<%= link_to 'Back', master_cpas_path %>
