<p id="notice"><%= notice %></p>

<p>
  <strong>St:</strong>
  <%= @empire_master_ca_match.st %>
</p>

<p>
  <strong>Lid:</strong>
  <%= @empire_master_ca_match.lid %>
</p>

<p>
  <strong>List:</strong>
  <%= @empire_master_ca_match.list %>
</p>

<p>
  <strong>Exp:</strong>
  <%= @empire_master_ca_match.exp %>
</p>

<p>
  <strong>Lic:</strong>
  <%= @empire_master_ca_match.lic %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @empire_master_ca_match.uid %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @empire_master_ca_match.lname %>
</p>

<p>
  <strong>Search date:</strong>
  <%= @empire_master_ca_match.search_date %>
</p>
<p>
  <strong>UID2:</strong>
  <%= @empire_master_ca_match.uid2 %>
</p>
<p>
  <strong>UID3:</strong>
  <%= @empire_master_ca_match.uid3 %>
</p>
<p>
  <strong>Notes:</strong>
  <%= @empire_master_ca_match.notes %>
</p>

<%= link_to 'Edit', edit_empire_master_ca_match_path(@empire_master_ca_match) %> |
<%= link_to 'Back', empire_master_ca_matches_path %>
