<p id="notice"><%= notice %></p>

<p>
  <strong>S:</strong>
  <%= @sequoia_customer.s_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @sequoia_customer.order_id %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @sequoia_customer.uid %>
</p>

<p>
  <strong>Lic state:</strong>
  <%= @sequoia_customer.lic_state %>
</p>

<p>
  <strong>Lic num:</strong>
  <%= @sequoia_customer.lic_num %>
</p>

<p>
  <strong>Exisiting:</strong>
  <%= @sequoia_customer.exisiting %>
</p>

<p>
  <strong>Purchase s:</strong>
  <%= @sequoia_customer.purchase_s %>
</p>

<p>
  <strong>Purchase:</strong>
  <%= @sequoia_customer.purchase %>
</p>

<p>
  <strong>Price s:</strong>
  <%= @sequoia_customer.price_s %>
</p>

<p>
  <strong>Price:</strong>
  <%= @sequoia_customer.price %>
</p>

<p>
  <strong>Product 1:</strong>
  <%= @sequoia_customer.product_1 %>
</p>

<p>
  <strong>Product 2:</strong>
  <%= @sequoia_customer.product_2 %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @sequoia_customer.designation %>
</p>

<p>
  <strong>Email:</strong>
  <%= @sequoia_customer.email %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @sequoia_customer.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @sequoia_customer.lname %>
</p>

<p>
  <strong>Street 1:</strong>
  <%= @sequoia_customer.street_1 %>
</p>

<p>
  <strong>Street 2:</strong>
  <%= @sequoia_customer.street_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @sequoia_customer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @sequoia_customer.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @sequoia_customer.zip %>
</p>

<%= link_to 'Edit', edit_sequoia_customer_path(@sequoia_customer) %> |
<%= link_to 'Back', sequoia_customers_path %>
