<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @master_cpa_no_match.uid %>
</p>

<p>
  <strong>List:</strong>
  <%= @master_cpa_no_match.list %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @master_cpa_no_match.lname %>
</p>

<p>
  <strong>Search date:</strong>
  <%= @master_cpa_no_match.search_date %>
</p>

<%= link_to 'Edit', edit_master_cpa_no_match_path(@master_cpa_no_match) %> |
<%= link_to 'Back', master_cpa_no_matches_path %>
